<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>대질문 리스트</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js"></script> 
<!-- 부트스트랩 라이브러리 -->
<link rel="stylesheet" href="../css/bootstrap.min.css">  
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">  
<link rel="stylesheet" href="../js/bootstrap.min.js">
<!-- 텍스트/이미지 타입 탭 css -->
<link rel="stylesheet" type="text/css" href="../../css/tabs.css" />
<!-- 설문조사 css -->
<link rel="stylesheet" type="text/css" href="../css/survey.css" />
<!-- 대질문 js 선언 -->
<!-- <script type="text/javascript" src="../js/web/builder/survey/surveyTitleForm.js"></script>   -->
<!-- 중질문 js 선언 -->
<script type="text/javascript" src="../js/web/builder/survey/surveySecondTitleForm.js"></script>  

<!-- 팝업 기능 -->  
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="../css/jquery-ui.css">  
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<!-- 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 -->
<script type="text/javascript">
$(function() {
	var dialog, form;
	
	<% data.forEach(function(item, index) {%>
		dialog = $( "#dialog-surveyTitle<%=index+1%>" ).dialog({
	      	autoOpen: false,
	      	height: 800,
	      	width: 980,
	      	modal: true,
	      	buttons: {
	        	"다음": updateTitle,
	        	"닫기": function() {
	        		$( "#dialog-surveyTitle<%=index+1%>" ).dialog( "close" );
	       		}
	    	},
	    	close: function() {
	        	$(this).find('form')[0].reset();
	        	console.log($(this));
	        	//location.href="/views/listSurvey";
	        	location.href="/listSurveyTitle";
	      	}
	    });
	
		//수정 버튼 클릭
		$( "#update-survey<%=index+1%>" ).button().on( "click", function() {
			//대질문 수정 팝업 open			
			$( "#dialog-surveyTitle<%=index+1%>" ).dialog( "open" );
			
			//대질문 설문 조회하기 
			$.ajax({
				url : '/selectSurveyTitle?surveyId=<%=item.survey_id%>',
				type : 'GET',
				success : function(data){
					console.log(data);
					
					//서버에서 가져온 surveyId 값을 value에 넣주기 
					var surveyId = data[0].survey_id;
					$('#surveyId_title').val(surveyId);
					
					$('#titleDiv<%=index+1 %>').append('<input type="text" id="surveyTitle" name="surveyTitle" value="<%=data[index].survey_title%>"><div></div>'+
														'<input type="file" id="surveyThumbnail<%=index+1 %>" name="surveyThumbnail" >'+
														/* '<div class="thumbnailFileDiv"><button class="btn btn-primary btn-sm" id="thumbnailFileBtn<%=index+1 %>">썸네일</button></div>'+ */
														'<div class="thumbnailDiv" id="thumbnailDiv<%=index+1 %>">'+
															'<br/><div>* 썸네일 수정을 원하시면 이미지를 클릭해주세요.</div>'+
							   								'<img class="thumbnailImg" id="thumbnailImg<%=index+1 %>" alt="thumbnailImg" src="<%=data[index].survey_thumbnail%>" style="width:300px; height:250px; cursor:pointer;"> '+
								   					   '</div>'+
														'<div>');
					/* 
					$('#thumbnailFileBtn<%=index+1 %>').click(function(e){
						e.preventDefault();
						$('#surveyThumbnail<%=index+1 %>').click();
					});
					 */
					 
					$('.thumbnailImg').click(function(e){
						e.preventDefault();
						$('#surveyThumbnail<%=index+1 %>').click();
					});
					
					//input type=file 숨기기
					$('#surveyThumbnail<%=index+1 %>').css('display', 'none');
					
					$('#surveyThumbnail<%=index+1 %>').change(function(){
						if(this.files && this.files[0]){
							var reader = new FileReader();
							
							reader.onload = function(e){
								
								$('.thumbnailDiv').css('display','inline-block');
								$('.thumbnailDiv').append($('.thumbnailDiv #thumbnailImg<%=index+1 %>').attr('src', e.target.result));
							}
							reader.readAsDataURL(this.files[0]);
						}//if
					});
						
				},//end success
				error : function(error){
					console.log(error);
				}
			});//end ajax
		});
		
	<% }); %>
	
	//대질문 수정하기
    function updateTitle() {
		
		//대질문 팝업창 -> 중질문 리스트 팝업창에 대질문 값 뿌리기 
    	var titleDone = $('#surveyTitle').val();
    	console.log('titleDone::'+titleDone);
    	$('#titleDone').val(titleDone);
		
    	//대질문 val 체크
		if($('#surveyTitle').val()==''){
			if($('.explain').val()==undefined){
				//$('#surveyTitle').after('<div><span id="surveyTitleValChkSpan" style="margin-left:-180px;">* 대질문을 입력해주세요.</span>');
				$('#surveyTitle').after('<div><p class="surveyTitle"> <span class="explain"> 질문을 입력해주세요.</span> </p>');
			}//if
		}else {
			$('.explain').remove();
		}//if
		
		if($('.explain').attr('class')!=undefined){
			return false;
		}//if
		
		//img val chk
		if($('#thumbnailDiv #thumbnailImg').attr('src')=='#'){
			alert('썸네일을 추가해주세요.');
			return false;
		}//if
		
		//FormData 선언
		var fd = new FormData();
		
		//대질문
		fd.append('surveyTitle', $('#surveyTitle').val());
		
		var file = $('input[type="file"]').prop('files')[0];
		
		//파일 값
		fd.append('file', file);
		
		$.ajax({
			url : '/updateSurveyTitle/'+$('#surveyId_title').val(),
			data : fd,
			type : 'POST',
			processData : false,
			contentType : false,
			success : function(data){
				console.log(data[1]);
				console.log(data);
				
				//서버에서 가져온 surveyId 값을 value에 넣주기 
				var surveyId = data[0].survey_id;
				$('#surveyId').val(surveyId);
				
				//설문조사 조회하기 
				selectSurveyTitle();
				
				//설문조사 리스트 팝업창 
				view_listSurvey();
			}
		});
    }
	
	function view_listSurvey(){
		dialog = $( "#dialog-listSurvey" ).dialog({
			//url: '/views/surveySecondTitleForm',
	      	autoOpen: true,
	      	height: 1000,
	      	width: 1000,
	      	modal: true,
	      	cache:false,
	      	buttons: {
	        	//"저장": insertTitle,
	        	"닫기": function() {
	        		//팝업 초기화 
	        		closePopFunc();
	       		}
	    	},
	    	close: function() {
	    		//$(this).find('form')[0].remove();
	    		//location.href="/views/listSurvey";
	      	}
	    });
	}
});
	
	//설문조사 대질문 삭제
	function delSurvey(surveyId){
		
		var fd = new FormData();
		fd.append('surveyId', surveyId);
		
		if(confirm('삭제하시겠습니까?') == true){
			//해당 설문조사의 contsDiv 삭제
			//$('#surveyDiv'+i+'').remove();
			$.ajax({
				url : '/deleteSurveyTitle/'+surveyId,
				data : fd,
				type : 'POST',
				processData : false,
				contentType : false,
				success : function(){
					//location.href='/views/listSurvey';
					location.href='/listSurveyTitle';
				}//end success
			});//end ajax
			alert('설문조사가 삭제되었습니다.');
		}else {
			return false;
		}//if
	}
	
</script>
</head>
<body>
	<h3>대질문 리스트</h3>
	<table style="border:solid 1px grey; width:500px" >
		<tr>
			<td align="center">번호</td>
			<td align="center">제목</td>
			<td align="center">썸네일</td>
			<td align="center">수정</td>
			<td align="center">삭제</td>
		</tr>
		<% data.forEach(function(item, index) {%>
		<tr>
			<td align="center"><%=index+1%></td>
			<td><%=item.survey_title %></td>
			<td align="center"><img class="thumbnailImg" src="<%=item.survey_thumbnail %>" id="thumbnailImg<%=index+1%>" style="width:200px; height:170px;"></td>
			<td align="center"><input type="button" class="btn btn-primary btn-xs" id="update-survey<%=index+1%>" value="수정"></td> 
			<td align="center"><button class="btn btn-danger btn-xs" id="deleteSurvey<%=index+1%>" onclick="delSurvey(<%=item.survey_id%>)">삭제</button></td>
		</tr>
		<% }); %>
	</table>
	<br/>
	<!-- <div style="margin-left:450px;"><a href="/views/surveyTitleForm"><button class="btn btn-default btn-sm">추가</button></a></div> -->
	
	<% data.forEach(function(item, index) {%>
	<div id="dialog-surveyTitle<%=index+1 %>" title="IDO RESEARCH UPDATE" >
		<span id="IDO-dialog-title"><h1>설문수정하기</h1></span>
		<form>
			<fieldset>
				<div id="makeq" class="padding-fix">  
					<!-- <span class="top">IDO RESEARCH MAKE </span> -->
					<section> 
  						<img src="../img/make_top_pic.png" alt="" /> 
       					<h2>질문입력하기</h2>
						<input type="hidden" id="surveyId_title" value="<%=item.survey_id%>">
						<div id="titleDiv<%=index+1 %>"></div>
					</section>
				</div>		
			</fieldset>
		</form>
	</div>
	<% }); %>	
	
	<div id="dialog-listSurvey" title="IDO RESEARCH UPDATE" style="display:none;">
		<span id="IDO-dialog-title"><h1>설문수정하기</h1></span>
		<form>
	    	<fieldset>
	    		<div id="makeq" class="padding-fix">  
	    			<input type="text" id="titleDone" name="titleDone" disabled>  
	    			<section class="category"> 
			        	<div class="leftPic"><img src="../img/category_title_pic.png" width="130px" height="44px"alt="카테고리분류를 선택하세요"></div> 
			           	<div class="rightSelect">
			                <select class="category">
			                <option>항목</option>
			                <option>항목</option>
			                </select>
			           	</div><!-- //rightSelect --> 
			        </section><!-- //카테고리 선택 끝 --> 
					<section class="choiceType">
			    		<input type="hidden" id="surveyId">
						<h1> 유형선택 </h1> <span class="addtion">설문의 유형을 선택해주세요. </span> 
						<ul> 
							<li><a href="#" class="crown" id="btn1" onclick="button1()"><span class="offTx">순위형</span></a></li> 
							<li><a href="#" class="star" id="btn2" onclick="button2()"><span class="offTx">별점형</span></a></li>
							<li><a href="#" class="choice" id="btn3" onclick="button3()"><span class="offTx">이중택일형</span></a></li> 
							<li><a href="#" class="number" id="btn4" onclick="button4()"><span class="offTx">선택형</span></a></li> 
							<li><a href="#" class="text" id="btn5" onclick="button5()"><span class="offTx">텍스트</span></a></li>  
						</ul>
					</section><!-- //choiceType -->   
		    		<input type="hidden" id="surveyId"><br/>
			  		<div class="surveyDiv"><!-- 전체 div -->
		  				<div id="listDiv"></div><!-- 설문조사 list div -->
		  				<!-- 설문조사 insert div -->
		  			</div>
		  		</div>
	    	</fieldset>
	  	</form>
	</div> 
</body>
</html>