<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<link rel="stylesheet" href="../../css/web/builder/contents/adjust_contents.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<script type="text/javascript" src="../../js/getUrlParameter.js"></script>
<script src="../js/web/common/jquery-ui.js"></script>
<link rel="stylesheet" href="../css/web/common/jquery-ui.css">  
<!-- *******   Survey js / css  ********-->
<link rel="stylesheet" href="../css/web/common/bootstrap.min.css">  
<link rel="stylesheet" href="../css/web/common/bootstrap-theme.min.css">  

<!-- 텍스트/이미지 타입 탭 css -->
<link rel="stylesheet" type="text/css" href="/css/web/builder/survey/tabs.css" />
<!-- 설문조사 css -->
<link rel="stylesheet" type="text/css" href="/css/web/builder/survey/survey.css" />

<!-- 대질문 js 선언 -->
<script type="text/javascript" id="surveyTitleFormJs" ></script>  
<!-- 중질문 js 선언 -->
<script type="text/javascript" id="surveySecondTitleFormJs"></script>  
<!-- Survey JS -->
<script type="text/javascript">
  $(function() {
    var dialog, form;
    
      //대질문 등록 팝업 
      dialog = $( "#dialog-surveyTitle" ).dialog({
          autoOpen: false,
          height: 850,
          width: 980,
          modal: true,
          buttons: {
            "등록": insertTitle,
            "닫기": function() {
              $( "#dialog-surveyTitle" ).dialog( "close" );
            }
        },
        close: function() {
        	//컨텐츠 새창으로 다시 돌아가기
			location.href="/upload/update_builder_contents?contentsId="+getUrlParameter('contentsId');
          }
     });
   
     //설문조사 추가 버튼
     $( "#add-survey" ).button().on( "click", function() {
    	 //대질문/중질문 js 추가
         $('#surveyTitleFormJs').attr('src', '../js/web/builder/survey/surveyTitleForm.js');
         $('#surveySecondTitleFormJs').attr('src', '../js/web/builder/survey/surveySecondTitleForm.js');
         //설문조사 추가시 중질문 타이틀주기
         $('#dialog-listSurvey').attr('title','IDO RESEARCH MAKE');
         $('#dialog-listSurvey').children('#IDO-dialog-title').children('h1').text('설문추가하기');
         dialog.dialog( "open" );
     });
  });
  
  //대질문 저장하기
  function insertTitle() {
  	
  	//대질문 팝업창 -> 중질문 리스트 팝업창에 대질문 값 뿌리기 
  	var titleDone = $('#surveyTitle').val();
  	console.log('titleDone::'+titleDone);
  	$('#titleDone').val(titleDone);
  	
  	//대질문 val 체크
  	if($('#surveyTitle').val()==''){
  		if($('.explain').val()==undefined){
  			//$('#surveyTitle').after('<div><span id="surveyTitleValChkSpan" style="margin-left:-180px;">* 대질문을 입력해주세요.</span>');	
  			$('#surveyTitle').after('<div><p class="surveyTitle"> <span class="explain"> 질문을 입력해주세요.</span> </p>');	
  		}//if
  	}else {
  		$('.explain').remove();
  	}//if
  	
  	if($('.explain').attr('class')!=undefined){
  		return false;
  	}//if
  	
  	//img val chk
  	if($('#thumbnailDiv #thumbnailImg').attr('src')==''){
  		alert('썸네일을 추가해주세요.');
  		return false;
  	}//if
  	
  	//FormData 선언
  	var fd = new FormData();

  	//cotentsId 값 받아오기
  	var contentsId = getUrlParameter('contentsId');
  	console.log('contentsId:::'+contentsId);
  	fd.append('contentsId', contentsId);
  	
  	//대질문
  	fd.append('surveyTitle', $('#surveyTitle').val());
  	console.log($('#surveyTitle').val())
  	var file = $('#surveyThumbnail').prop('files')[0];
  	
  	//파일 값
  	fd.append('file', file);
  	//return false;
  	
  	$.ajax({
  		url : '/upload/insertSurveyTitle',
  		data : fd,
  		type : 'POST',
  		processData : false,
  		contentType : false,
  		success : function(data){
  			console.log(data[1]);
  			console.log(data);
  			
  			//서버에서 가져온 surveyId 값을 value에 넣주기 
  			var surveyId = data[0].surveyId;
  			$('#surveyId').val(surveyId);
  			
  			dialog = $( "#dialog-listSurvey" ).dialog({
  				autoOpen: true,
  				height: 1000,
  				width: 1000,
  				modal: true,
  				buttons: {
  					//"저장": insertTitle,
  					"닫기": function() {
  						$( "#dialog-listSurvey" ).dialog( "close" );
  						$( "#dialog-surveyTitle" ).dialog( "close" );
  					}
  				},
  				close: function() {
					//컨텐츠 새창으로 다시 돌아가기
					location.href="/upload/update_builder_contents?contentsId="+contentsId;
  				}
  			});
  		}
  	});
  }
</script>
<!-- Survey JS -->

<script type="text/javascript">
function delete_image(i){ //x버튼누르면 사라짐.
  var contents_id = getUrlParameter('contentsId');
  var li_value = i;
  var delete_values = {"contents_id":contents_id, "li_value":li_value};
  $.ajax({
    url : '/upload/delete_contents_image',
    data : delete_values,
    success : function(){
      console.log('성공');
    }
  })
  $('[name="image_preview'+i+'"]').remove();
}
</script>
<script> /*이미지 마우스 잡아서 이동하는 부분*/
  $(function() {
      $( '#sortable' ).sortable({
          stop: function () {
              var li = $('li.currentposition');
              var nbElems = li.length;
              $('li.currentposition').each(function(idx) {
                  $(this).val(idx);
                  var li_value = $(this).attr('id');
                  var order_num = $(this).val(idx)+"";
                  var contents_id = getUrlParameter('contentsId');

                  var json = {"li_value":li_value, "order_num":idx, "contents_id":contents_id};
                    $.ajax({
                      url : '/upload/change_order',
                      data : json,
                      success: function(){
                        console.log('success');
                      }
                    })
                });
          }
      });
    $( "#sortable" ).disableSelection();
  });
</script>
</head>
<body>
<br>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="text" name="title">
    <input type="file" id="image" name="file" multiple="multiple">
</form>

<!-- Survey 등록 팝업 띄우기 -->
<button id="add-survey">설문조사 추가</button>
<div id="dialog-surveyTitle" title="IDO RESEARCH MAKE" style="display:none;">
    <!-- <p class="validateTips">대질문 등록</p> -->
  <span id="IDO-dialog-title"><h1>설문만들기</h1></span> 
  <form>
    <fieldset>
      <!-- <div id="wrap"> 
        <div id="testwrap">  -->
          <div id="makeq" class="padding-fix">  
            <!-- <span class="top">IDO RESEARCH MAKE </span> -->
             <section> 
			<img src="/images/common/builder/survey/make_top_pic.png" alt="" /> 
			<h2>질문입력하기</h2>
			<!-- <p class="surveyTitle"> <span class="explain"> 질문을 입력해주세요.</span> </p>  -->
			<input type="hidden" id="surveyId_title" value="">
			<div id="titleDiv"></div>
            </section>
          </div> 
          <!-- // makeq --> 
        <!-- </div> 
        //testwrap 
      </div>
      wrap --> 
    </fieldset>
  </form>
</div>
<!-- Survey 등록 팝업 띄우기 -->

<!-- 설문조사 수정 팝업 띄우기 -->
<% data1.forEach(function(item, index) {%>
<div id="dialog-surveyTitle<%=index+1 %>" title="IDO RESEARCH UPDATE" style="display:none;">
	<span id="IDO-dialog-title"><h1>설문수정하기</h1></span>
	<form>
		<fieldset>
			<div id="makeq" class="padding-fix">  
				<!-- <span class="top">IDO RESEARCH MAKE </span> -->
				<section> 
 						<img src="/images/common/builder/survey/make_top_pic.png" alt="" /> 
      					<h2>질문입력하기</h2>
					<input type="hidden" id="surveyId_title" value="<%=item.SURVEY_ID%>">
					<div id="titleDiv<%=index+1 %>"></div>
				</section>
			</div>		
		</fieldset>
	</form>
</div>
<% }); %>	
<!-- 설문조사 수정 팝업 띄우기 -->

<!-- 설문조사 등록/수정 중질문 팝업 띄우기 -->
<div id="dialog-listSurvey" title="" style="display:none;">
	<span id="IDO-dialog-title"><h1></h1></span>
	<form>
    	<fieldset>
    		<div id="makeq" class="padding-fix">  
    			<input type="text" id="titleDone" name="titleDone" disabled>  
    			<section class="category"> 
		        	<div class="leftPic"><img src="/images/common/builder/survey/category_title_pic.png" width="130px" height="44px"alt="카테고리분류를 선택하세요"></div> 
		           	<div class="rightSelect">
		                <select class="category">
		                <option>항목</option>
		                <option>항목</option>
		                </select>
		           	</div><!-- //rightSelect --> 
		        </section><!-- //카테고리 선택 끝 --> 
				<section class="choiceType">
		    		<input type="hidden" id="surveyId">
					<h1> 유형선택 </h1> <span class="addtion">설문의 유형을 선택해주세요. </span> 
					<ul> 
						<li><a href="#" class="crownOff" id="btn1" onclick="button1()"></a></li> 
						<li><a href="#" class="starOff" id="btn2" onclick="button2()"></a></li>
						<li><a href="#" class="choiceOff" id="btn3" onclick="button3()"></a></li> 
						<li><a href="#" class="numberOff" id="btn4" onclick="button4()"></a></li> 
						<li><a href="#" class="textOff" id="btn5" onclick="button5()"></a></li>  
					</ul>
				</section><!-- //choiceType -->   
	    		<input type="hidden" id="surveyId"><br/>
		  		<div class="surveyDiv"><!-- 전체 div -->
	  				<div id="listDiv"></div><!-- 설문조사 list div -->
	  				<!-- 설문조사 insert div -->
	  			</div>
	  		</div>
    	</fieldset>
  	</form>
</div> 
<!-- 설문조사 등록/수정 중질문 팝업 띄우기 -->

<ul id="sortable"> <!-- 컨텐츠들은 이쪽으로 들어간다. -->
<% if(data == null) {%>
      <% }else {%>
          <% for (var i = 0; i < data.length; i++) { %>
            <li id="image_preview<%= data[i].LI_VALUE %>" name="image_preview<%= data[i].LI_VALUE %>" class="currentposition" value="<%= data[i].ORDER_NUM%>">
              <a href="#" id="build_contents_a<%= data[i].LI_VALUE%>" onclick="active(<%= data[i].LI_VALUE%>); return false;">
              <div class="build_shape" name="build_shape<%= data[i].LI_VALUE%>"><br> 
                <input type="image" src="/images/util_image/x.png" id="delete" onclick="delete_image(<%= data[i].LI_VALUE%>);">
                <div class="build_image" name="build_image<%= data[i].LI_VALUE%>"><img src="<%= data[i].CONTENTS_IMAGE_PATH %>" id="build_image<%= data[i].LI_VALUE%>" name="build_image<%= data[i].LI_VALUE%>">
                <input type="text" class="build_image_origin" name="build_image_origin<%= data[i].LI_VALUE%>" placeholder="이미지 출처 입력" align="right" value="<%=data[i].CONTENTS_IMAGE_ORIGIN %>"></div><br>
                <input type="text" class="build_contents" name="build_contents<%= data[i].LI_VALUE%>" value="<%= data[i].CONTENTS%>" />
              </div>
              </a>
              <div style="height:200px;"></div>
            </li>
        <% } %>
      <% } %>
</ul>

<!-- 설문조사 대질문 썸네일 view -->
<div id="surveyTitleDiv" style="width:500px; margin-left:50px; text-align:center;">
	<%if(data1!='') {%> 
	<span style="font-size:1.1em; font-weight:700;">설문조사 썸네일</span> 
	<%} %>
</div>
<!-- 설문조사 대질문 썸네일 view -->

<!-- survey js -->
<script type="text/javascript">
<% data1.forEach(function(item, index) { %>
	//대질문 썸네일과 타이틀 append
	var surveyTitleHtml = '';
	surveyTitleHtml += ''+
						//'<input type="text" id="surveyId" value="<%=item.SURVEY_ID %>">'+
						'<div class="surveyDelDiv" style="text-align:right;">'+
							'<input type="image" id="delSurvey" src="/images/util_image/x.png" onclick="delSurvey(<%=item.SURVEY_ID %>);" style="width:15px; height:15px;">'+
						'</div>'+
						'<div class="surveyThumbDiv">'+
				   			'<img class="surveyThumbnailImg" src="<%=item.SURVEY_THUMBNAIL %>" id="surveyThumbnailImg<%=index+1%>" style="width:500px; height:auto;">'+
				   		'</div>'+
				   		'<div class="surveyTitleDiv">'+
				   			'<span><%=item.SURVEY_TITLE %></span>'+
				   		'</div>'+
					   '<br/>';
	$('#surveyTitleDiv').append(surveyTitleHtml);
	
	//$(function() {
		var dialog, form;
		
		dialog = $( "#dialog-surveyTitle<%=index+1%>" ).dialog({
	      	autoOpen: false,
	      	height: 800,
	      	width: 980,
	      	modal: true,
	      	buttons: {
	        	"다음": updateTitle,
	        	"닫기": function() {
	        		$( "#dialog-surveyTitle<%=index+1%>" ).dialog( "close" );
	       		}
	    	},
	    	close: function() {
	    		//컨텐츠 새창으로 다시 돌아가기
	        	location.href="/upload/update_builder_contents?contentsId="+getUrlParameter('contentsId');
	      	}
		});
		
		//대질문 이미지 버튼 클릭
		$( "#surveyThumbnailImg<%=index+1%>" ).button().on( "click", function() {
			console.log('<%=index+1%>');
			console.log('<%=item.SURVEY_ID%>');
			//중질문 js 추가
			$('#surveySecondTitleFormJs').attr('src', '../js/web/builder/survey/surveySecondTitleForm.js');
			//설문조사 수정시 중질문 타이틀주기
			$('#dialog-listSurvey').attr('title','IDO RESEARCH UPDATE');
			$('#dialog-listSurvey').children('#IDO-dialog-title').children('h1').text('설문수정하기');
			
			//대질문 수정 팝업 open			
			$( "#dialog-surveyTitle<%=index+1%>" ).dialog( "open" );
			
			//대질문 설문 조회하기 
			$.ajax({
				url : '/upload/selectSurveyTitle?surveyId=<%=item.SURVEY_ID%>',
				type : 'GET',
				success : function(data){
					console.log(data);
					
					//서버에서 가져온 surveyId 값을 value에 넣주기 
					var surveyId = data[0].SURVEY_ID;
					console.log('대질문 설문 조회하기 surveyId::::'+surveyId);
					$('#surveyId_title').val(surveyId);
					
					$('#titleDiv<%=index+1 %>').append('<input type="text" id="surveyTitle" name="surveyTitle" value="<%=item.SURVEY_TITLE%>"><div></div>'+
														'<input type="file" id="surveyThumbnail<%=index+1 %>" name="surveyThumbnail" >'+
														/* '<div class="thumbnailFileDiv"><button class="btn btn-primary btn-sm" id="thumbnailFileBtn<%=index+1 %>">썸네일</button></div>'+ */
														'<div class="thumbnailDiv" id="thumbnailDiv<%=index+1 %>">'+
															'<br/><div>* 썸네일 수정을 원하시면 이미지를 클릭해주세요.</div>'+
							   								'<img class="thumbnailImg" id="thumbnailImg<%=index+1 %>" alt="thumbnailImg" src="<%=item.SURVEY_THUMBNAIL%>" style="width:300px; height:250px; cursor:pointer;"> '+
								   					   '</div>'+
														'<div>');
					 
					$('.thumbnailImg').click(function(e){
						e.preventDefault();
						$('#surveyThumbnail<%=index+1 %>').click();
					});
					
					//input type=file 숨기기
					$('#surveyThumbnail<%=index+1 %>').css('display', 'none');
					
					$('#surveyThumbnail<%=index+1 %>').change(function(){
						if(this.files && this.files[0]){
							var reader = new FileReader();
							
							reader.onload = function(e){
								
								$('.thumbnailDiv').css('display','inline-block');
								$('.thumbnailDiv').append($('.thumbnailDiv #thumbnailImg<%=index+1 %>').attr('src', e.target.result));
							}
							reader.readAsDataURL(this.files[0]);
						}//if
					});
						
				},//end success
				error : function(error){
					console.log(error);
				}
			});//end ajax
		});//대질문 이미지 click end

		
		//대질문 수정하기
	    function updateTitle() {
			
			//대질문 팝업창 -> 중질문 리스트 팝업창에 대질문 값 뿌리기 
	    	var titleDone = $('#surveyTitle').val();
	    	console.log('titleDone::'+titleDone);
	    	$('#titleDone').val(titleDone);
			
	    	//대질문 val 체크
			if($('#surveyTitle').val()==''){
				if($('.explain').val()==undefined){
					//$('#surveyTitle').after('<div><span id="surveyTitleValChkSpan" style="margin-left:-180px;">* 대질문을 입력해주세요.</span>');
					$('#surveyTitle').after('<div><p class="surveyTitle"> <span class="explain"> 질문을 입력해주세요.</span> </p>');
				}//if
			}else {
				$('.explain').remove();
			}//if
			
			if($('.explain').attr('class')!=undefined){
				return false;
			}//if
			
			//img val chk
			if($('#thumbnailDiv #thumbnailImg').attr('src')==''){
				alert('썸네일을 추가해주세요.');
				return false;
			}//if
			
			//FormData 선언
			var fd = new FormData();
			
			//대질문
			fd.append('surveyTitle', $('#surveyTitle').val());
			
			var file = $('input[name="surveyThumbnail"]').prop('files')[0];
			console.log('file::'+file);
			
			//파일 값
			fd.append('file', file);
			
			$.ajax({
				url : '/upload/updateSurveyTitle?surveyId='+$('#surveyId_title').val(),
				data : fd,
				type : 'POST',
				processData : false,
				contentType : false,
				success : function(data){
					console.log(data[1]);
					console.log(data);
					
					//서버에서 가져온 surveyId 값을 value에 넣주기 
					var surveyId = data[0].SURVEY_ID;
					console.log('surveyId::::'+surveyId);
					$('#surveyId').val(surveyId);
					
					//설문조사 조회하기 
					selectSurveyTitle();
					
					//설문조사 리스트 팝업창 
					view_listSurvey();
				}
			});
	    }
		
	  	//설문조사 대질문 삭제
		function delSurvey(surveyId){
			
			var fd = new FormData();
			fd.append('surveyId', surveyId);
			
			if(confirm('삭제하시겠습니까?') == true){
				//해당 설문조사의 contsDiv 삭제
				//$('#surveyDiv'+i+'').remove();
				$.ajax({
					url : '/upload/deleteSurveyTitle?surveyId='+surveyId,
					data : fd,
					type : 'POST',
					processData : false,
					contentType : false,
					success : function(){
						//컨텐츠 새창으로 다시 돌아가기
						location.href='/upload/update_builder_contents?contentsId='+getUrlParameter('contentsId');
					}//end success
				});//end ajax
				alert('설문조사가 삭제되었습니다.');
			}else {
				return false;
			}//if
		}
		
	    function view_listSurvey(){
			dialog = $( "#dialog-listSurvey" ).dialog({
				//url: '/views/surveySecondTitleForm',
		      	autoOpen: true,
		      	height: 1000,
		      	width: 1000,
		      	modal: true,
		      	cache:false,
		      	buttons: {
		        	//"저장": insertTitle,
		        	"닫기": function() {
		        		//팝업 초기화 
		        		closePopFunc();
		       		}
		    	},
		    	close: function() {
		      	}
		    });
		}
	//});
<% }); %> 
</script>
<!-- survey js -->

<button onclick="save()">save</button>
<script>
$("input[name *=build_image_origin]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.
$("input[name *=build_contents]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.
</script>
<script type="text/javascript">
  $('#image').on('change', function(){ // 빌더가 하나씩 생성될때마다 name값을 +1씩 해줌.
      var i = 0;
      var contents_id = getUrlParameter('contentsId');
      $.ajax({ //가장 최근에 저장되어 있는 값을 가지고 li_value 등 프로퍼티 속성값들을 지정.
        url:'/upload/latest_value?contentsId='+contents_id+'',
        success : function(result){
          console.log(result);
          if(result==0){
            i = parseInt(result)+1;
          }else{
            i = result.LI_VALUE+1;
          }
          file = $('#image').prop("files")[0];
          blobURL = window.URL.createObjectURL(file);
          $('ul').append('<li id="image_preview'+i+'" name="image_preview'+i+'" class="currentposition"><div class="build_shape" name="build_shape'+i+'"><br>'     /* 1. 컨텐츠 틀 */
          +'<input type="image" src="/images/util_image/x.png" id="delete" onclick="delete_image('+i+');">' // 2. 빌더 우측 x 그림부분 X버튼 변경을 원하면 src 부분 수정 / onclick부분은 현재 만들어진  name값의 빌더를 지우는 function
            +'<div class="build_image" name="build_image'+i+'"><img src='+blobURL+' name="build_image'+i+'">' // 파일 선택 후 이미지 화면 출력
              +'<input type="text" class="build_image_origin" name="build_image_origin'+i+'" placeholder="이미지 출처 입력" align="right"></div><br>' // 3. 이미지 출처
            +'<input type="text" class="build_contents" name="build_contents'+i+'"/>' // 4. 컨텐츠 내부 내용 작성부분 
            +'<button id="button'+i+'" onclick="save_image('+i+')">저장</button>'
          +'</div>'
          +'<div style="height:200px;"></div></li>'); //컨텐츠와 컨텐츠 사이의 간격을 위해 만든 <div>
        }
      })
    });


  function save_image(i){ //저장버튼을 누르면
    document.getElementById("image_preview"+i+"").value = i;
    $('#button'+i+'').remove(); //저장버튼 삭제
    $('div[name=build_shape'+i+']').wrap('<a href="#" id="build_contents_a'+i+'" onclick="active('+i+')"></a>'); //image_preview li 부분을 a링크로 감싸버린다.
    $("input[name=build_image_origin"+i+"]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.
    $("input[name=build_contents"+i+"]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.
      
    var file = $('#image').prop("files")[0]; //파일
 
    var build_image_origin = $('input[name=build_image_origin'+i+']').val(); //이미지 출처
    var build_contents = $('input[name=build_contents'+i+']').val(); // contents의 내용
    var contents_id = getUrlParameter('contentsId'); // thumbnail에서 가져온 contents_id값 / DB에서 쿼리를 확인할 때 contents_id값으로 확인해야하므로 필요함.
    var order = $('[name="image_preview'+i+'"]').val(); //미리저장시 순서확인을 위한 변수
    var fd = new FormData();

    fd.append('li_value', i);
    fd.append('file', file); 
    fd.append('order', order); //순서
    fd.append('contents_id', contents_id); //컨텐츠 ID
    fd.append('build_image_origin', build_image_origin); //이미지 출처
    fd.append('build_contents', build_contents); //컨텐츠 내용

   $.ajax({
      url: '/upload/builder_contents',
      data: fd,
      processData: false,
      contentType: false,
      async : false,
      type: 'POST',
      success: function(){
        console.log('success');
      }
    });

  }

  function active(i){ //저장버튼 누른 후 수정을 원할시
    console.log('활성화');

    $('div[name=build_shape'+i+']').unwrap(); //감싸있는 a 태그 삭제
    $('input[name=build_contents'+i+']').after('<button id="r_button'+i+'" onclick="revise_image('+i+')">저장</button>');
    $("input[name=build_image_origin"+i+"]").attr("readonly",false); //a 링크로 감싸면서 input tag를 못쓰도록 함.
    $("#build_image"+i+"").after('<div class="file_input_div" id="file_input_div'+i+'"><img src="http://sstatic.naver.net/search/img3/btn_sch.gif" class="file_input_img_btn" alt="open" />'
      +'<input type="file" name="file_input_hidden'+i+'" id="file_input_hidden'+i+'" class="file_input_hidden" onchange="change_image('+i+')"/></div>'); //검색이미지 변경을 원할시 src부분을 변경
    $("input[name=build_contents"+i+"]").attr("readonly",false);
  }



  function change_image(i){ //이미지 변경 function
    file = $('#file_input_hidden'+i+'').prop("files")[0];
    blobURL = window.URL.createObjectURL(file);
    $('#build_image'+i+'').attr('src', blobURL);
  }


  //이미지 변경 없이 수정후 다시 저장 function
  function revise_image(i){
    console.log(i)
    $('#r_button'+i+'').remove(); //저장버튼 삭제
    $('div[name=build_shape'+i+']').wrap('<a href="#" id="build_contents_a'+i+'" onclick="active('+i+'); return false;"></a>'); //image_preview li 부분을 a링크로 감싸버린다.
    $("input[name=build_image_origin"+i+"]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.
    $("input[name=build_contents"+i+"]").attr("readonly",true); //a 링크로 감싸면서 input tag를 못쓰도록 함.

    file = $('#file_input_hidden'+i+'').prop("files")[0];
    if(typeof file != 'undefined'){
      blobURL = window.URL.createObjectURL(file);
    }
    
    var build_image_origin = $('input[name=build_image_origin'+i+']').val(); //이미지 출처
    var build_contents = $('input[name=build_contents'+i+']').val(); // contents의 내용
    var contents_id = getUrlParameter('contentsId'); // thumbnail에서 가져온 contents_id값 / DB에서 쿼리를 확인할 때 contents_id값으로 확인해야하므로 필요함.
    var order = $('[name="image_preview'+i+'"]').val(); //미리저장시 순서확인을 위한 변수
    var fd = new FormData();

    fd.append('file', file);
    fd.append('li_value', i);
    fd.append('order', order); //순서
    fd.append('contents_id', contents_id); //컨텐츠 ID
    fd.append('build_image_origin', build_image_origin); //이미지 출처
    fd.append('build_contents', build_contents); //컨텐츠 내용
    
    console.log(file);
    console.log(order);
    console.log(contents_id);
    console.log(build_image_origin);
     $.ajax({
        url: '/upload/revise_builder_contents',
        data: fd,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function(data){
          alert("EE");
        }
      });
    $('#file_input_div'+i+'').remove();
  }
</script>
</body>
</html>